/* Global CSS */
html {
    scroll-behavior: smooth;
}

a, a:hover {
    text-decoration: inherit;
    color: inherit;
}

.btn-primary {
    font-size: 16px;
    margin-left: 15px;
    background-color: #2f55d4;
    box-shadow: 0 3px 5px 0 rgba(47,85,212,.3);
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

h1, h2, h3 {
    font-weight: 900;
}

.primary-text-color {
    color: #2f55d4;
}

.shadow {
    box-shadow: 0 0 3px rgba(22,28,45,.15)!important;
}

.rounded {
    border-radius: 6px;
}

.rounded-10 {
    border-radius: 10px;
}

/* Other CSS */

/* Header */

#header {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-box-shadow {
    box-shadow: 0 0 16px rgba(22,28,45,.15);
}

.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-right-cont {
    align-items: center;
}

.header-right-text {
    color: #3c4858;
    font-size: 13px;
    background-color: transparent!important;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 900;
    transition: all .5s;
    font-family: "Nunito",sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    text-shadow: 0px 0px 0.5px #3c4858;
}

.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #2f55d4;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #2f55d4;
}

@media(max-width: 900px) {
    #header .container {
        padding: 10px 25px;
    }
    .header-cont {
        padding: 10px;
    }
    .header-right-cont {
        display: none !important;
    }
    .navbar {
        padding: 0;
        text-align: right;
        align-items: flex-end;
        flex-direction: column;
        text-align: right;
    }
}

/* End of Header */

/* Body */

.anchor-tag {
    height: 12vh;
}

.card {
    background: #fff;
    cursor: pointer;
}
.card:hover {
    transition: transform .8s;
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(60,72,88,.15)!important;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 25px;
}

.contact {
    font-size: 1.5rem;
}

.ed-row {
    background-color: #fff;
    flex-direction: column;
    margin-bottom: 15px;
    height: 10xs0px;
}

.ed-cont {
    align-items: flex-start;
    padding: 20px;
}

.ed-img {
    height: 60px;
    margin-right: 30px;
}

.ed-text {
    width: 90%;
}

.exp-row {
    background-color: #fff;
    flex-direction: column;
    margin-bottom: 15px;
}

.exp-cont {
    align-items: flex-start;
    padding: 20px;
}

.exp-img {
    width: 10%;
    margin-right: 30px;
}

.exp-text {
    width: 90%;
}

.heading-text {
    margin: 20px 0;
}

.heading-text-align-center {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.headline-cont {
    padding: 10% 0;
}

.icons {
    font-size: 40px;
    margin: 20px 10px 35px 0;
    color: #2f55d4;
}

.mtb-20 {
    margin: 20px 0;
}

.profile-img-cont {
    display: flex;
    justify-content: flex-end;
}

.profile-img {
    max-height: 65vh;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 45%;
    margin-right: 5%;
}

.row-one {
    height:80vh;
    align-items: center;
}

.row-port {
    background-color: #f8f9fc;
}

.skills-row {
    padding-left: 12%;
    margin-bottom: 20px;
}

.skills-cont {
    display: flex;
    align-items: center;
}

.skills {
    height: 64px;
    width: 64px;
    border: 1px solid #e9ecef;
    border-radius: 90%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f55d4;
    color: white;
    margin-right: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

@media(max-width: 900px) {
    .contact {
        font-size: 1.5rem;
        justify-content: left !important;
        margin-bottom: 20px;
    }
    .contact-text {
        font-size: 1.35rem;
    }
    .ed-cont {
        align-items: flex-start;
        padding: 15px;
    }
    .ed-img {
        /* width: 10%; */
        margin-right: 15px !important;
        font-size: 30px;
    }
    .exp-cont {
        align-items: flex-start;
        padding: 15px;
    }
    .exp-img {
        width: 10%;
        margin-right: 15px;
        font-size: 18px;
    }
    .profile-img {
        display: none;
    }
    .row-one {
        height: 90vh;
    }
    .skills-cont {
        margin-bottom: 10px;
    }
    .skills {
        height: 50px;
        width: 50px;
        font-size: 25px;
    }
}

/* End of Body */

/* Footer */

footer {
    height: 10vh;
}

/* End of Footer */