/* Global CSS */
html {
    scroll-behavior: smooth;
}

a, a:hover {
    text-decoration: inherit;
    color: inherit;
}

.btn-primary {
    font-size: 16px;
    margin-left: 15px;
    background-color: #2f55d4;
    box-shadow: 0 3px 5px 0 rgba(47,85,212,.3);
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

h1, h2, h3 {
    font-weight: 900;
}

.primary-text-color {
    color: #2f55d4;
}

.shadow {
    box-shadow: 0 0 3px rgba(22,28,45,.15)!important;
}

.rounded {
    border-radius: 6px;
}

/* Other CSS */

.anchor-tag {
    height: 10vh;
}

.card {
    background: #fff;
    cursor: pointer;
}
.card:hover {
    transition: transform .8s;
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(60,72,88,.15)!important;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 25px;
}

/* .experience-row {
    margin: 70px 0;
} */

#header {
    /* height: 10vh; */
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-box-shadow {
    box-shadow: 0 0 16px rgba(22,28,45,.15);
}

.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.header-right-cont {
    align-items: center;
}

.header-right-text {
    color: #3c4858;
    font-size: 13px;
    background-color: transparent!important;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 900;
    transition: all .5s;
    font-family: "Nunito",sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    text-shadow: 0px 0px 0.5px #3c4858;
}

.heading-text {
    margin: 20px 0;
}

.heading-text-align-center {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.headline-cont {
    padding: 10% 0;
}

.icons {
    font-size: 40px;
    margin: 20px 10px 35px 0;
    color: #2f55d4;
}

/* .portfolio-row {
    margin: 70px 0;
} */

.profile-img-cont {
    display: flex;
    justify-content: flex-end;
}

.profile-img {
    max-height: 65vh;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 45%;
    margin-right: 5%;
}

.row {
    padding: 20px;
}

.row-one {
    height:80vh;
    align-items: center;
}

.row-port {
    background-color: #f8f9fc;
}

.skills-row {
    padding-left: 12%;
}

.skills-cont {
    display: flex;
    align-items: center;
}

.skills {
    height: 64px;
    width: 64px;
    border: 1px solid #e9ecef;
    border-radius: 90%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f55d4;
    color: white;
    margin-right: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

/* How to create boxes over skills on hover: */

/* text in dev visibility hidden */
/* text on hover visibility visible */
  
/* also put the finger pionter effect on the skills (icons) */